.app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        font-size: 36px;
        font-weight: bold;
    }
    p{
        font-size: 26px;
    }
}